on: push
  branches:
    - main

jobs:
  build_package:
    runs-on: ubuntu-latest
    steps:
      - run : echo "Hello, world!"
      # - uses: actions/checkout@v3
      # - name: Set up Python
      #   uses: actions/setup-python@v4
      #   with:
      #     python-version: '3.11'
      # - name: Install dependencies
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install build
      # - name: Build package
      #   run: |
      #     python -m build