name: Python Code Quality
on: [push]
jobs:
  build_package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        uses: ./.github/actions/setup
      - run: uv lock --locked
