name: Python Code Quality

on: [push]

jobs:
  build_package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install UV
        uses: astral-sh/setup-uv@v3
        with:
          uv-version: "0.4.19"
      - run: uv lock --locked
